[KRUGER] Whatsapp.json
{
  "name": "[KRUGER] Whatsapp",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mensagem",
              "stringValue": "={{ $('whatsapp evo').first().json.body.data.contextInfo.quotedMessage.conversation }}\n\n{{ $('whatsapp evo').first().json.body.data.message.extendedTextMessage.text }}{{ $('whatsapp evo').first().json.body.data.message.conversation }}{{ $json.text }}{{ $json.content }}{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "b12b5624-6e3d-4903-9ae2-fc5234ca365c",
      "name": "mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1952,
        -496
      ]
    },
    {
      "parameters": {
        "content": "#              LOUVADO SEJA DEUS",
        "height": 92,
        "width": 396
      },
      "id": "5041e093-8a91-4e93-8bbb-08c95a5fcffe",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  let jidBruto = $('whatsapp evo').item.json.body.data.key.remoteJid;\n\n  if (jidBruto.includes(':')) {\n    jidBruto = jidBruto.split(':')[0];\n  }\n\n  let jidOriginalNumerico = jidBruto.replace(/\\D/g, '');\n\n  const remoteJidFormatado = jidOriginalNumerico.slice(2);\n  \n  let phoneNumber = jidOriginalNumerico;\n\n  if (phoneNumber.startsWith('5555')) {\n    phoneNumber = phoneNumber.slice(2);\n  } else if (phoneNumber.startsWith('55')) {\n    phoneNumber = phoneNumber.slice(2);\n  }\n\n  const processedPhoneNumber = phoneNumber;\n  \n  let TelefoneCom9 = null;\n  let TelefoneSem9 = null;\n\n  if (processedPhoneNumber.length === 10) {\n    TelefoneCom9 = processedPhoneNumber.slice(0, 2) + '9' + processedPhoneNumber.slice(2);\n    TelefoneSem9 = processedPhoneNumber;\n  } else if (processedPhoneNumber.length === 11) {\n    if (processedPhoneNumber.charAt(2) === '9') {\n      TelefoneCom9 = processedPhoneNumber;\n      TelefoneSem9 = processedPhoneNumber.slice(0, 2) + processedPhoneNumber.slice(3);\n    } else {\n      TelefoneCom9 = processedPhoneNumber.slice(0, 2) + '9' + processedPhoneNumber.slice(2);\n      TelefoneSem9 = processedPhoneNumber;\n    }\n  }\n\n  return {\n    json: {\n      TelefoneCom9,\n      TelefoneSem9,\n      remoteJidFormatado\n    }\n  };\n}\n"
      },
      "id": "f32811d7-f9af-4793-8473-ffec3498109a",
      "name": "formata telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -496
      ]
    },
    {
      "parameters": {
        "content": "# CLIENTE:\n# MODELO",
        "height": 140.05393334276351,
        "width": 267.3623617850749,
        "color": 5
      },
      "id": "6a8cf318-3f0e-4d22-b52b-2bb8cb594294",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Filtro para evitar receber figurinhas, reações, etc",
        "height": 392,
        "width": 306
      },
      "id": "ad3cda2b-1d16-448f-977c-7f3325ee8c9c",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        -416
      ]
    },
    {
      "parameters": {
        "content": "# WHATSAPP",
        "height": 1151,
        "width": 5468,
        "color": 7
      },
      "id": "fdf3acbf-8ea8-443a-b023-ed3a45c9ca14",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        -720
      ]
    },
    {
      "parameters": {
        "content": "# WHATSAPP",
        "height": 115,
        "width": 417,
        "color": 5
      },
      "id": "4035c1b6-b3f3-4c3a-8c66-10aadfdef4a1",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        -864
      ]
    },
    {
      "parameters": {
        "content": "## Gerencia e trata todas as mensagens recebidas pelo número de Whatsapp configurado.",
        "height": 159,
        "width": 355
      },
      "id": "1b811cef-0c89-4434-bfc3-08e3c39e67cd",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -464
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"whatsapp evo\"].json.body.data.messageType }}",
        "rules": {
          "rules": [
            {
              "value2": "textMessage",
              "outputKey": "text"
            },
            {
              "value2": "extendedTextMessage",
              "outputKey": "extendedText"
            },
            {
              "value2": "conversation",
              "outputKey": "conversation"
            },
            {
              "value2": "imageMessage",
              "outputKey": "imagem"
            },
            {
              "value2": "audioMessage",
              "outputKey": "audio"
            },
            {
              "value2": "documentMessage",
              "outputKey": "documento"
            }
          ]
        }
      },
      "id": "61fe58af-fde9-4c5c-83cd-e43af7bae3c9",
      "name": "filtra tipo mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        848,
        -304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsappkruger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8522b880-4178-40c7-9948-465d82a3f4c1",
      "name": "whatsapp evo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -176,
        -256
      ],
      "webhookId": "f534f3a6-451b-4451-9561-ee1b1206c9f6"
    },
    {
      "parameters": {
        "content": "## Tratamento IMAGEM\n",
        "height": 211,
        "width": 697,
        "color": 5
      },
      "id": "d279ecf7-73d2-469f-a4db-1692ac8ad633",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        -560
      ]
    },
    {
      "parameters": {
        "content": "## RESETA MEMÓRIA",
        "height": 211,
        "width": 1415,
        "color": 5
      },
      "id": "a76245be-8fb2-48d6-b247-c9384c785098",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc4055a3-f1fe-49b8-b0bc-f0a202ad466f",
              "leftValue": "={{ $('mensagem').item.json.mensagem }}",
              "rightValue": "=!reset",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "517663f7-8c6f-4994-9b2c-8afff4b64c74",
      "name": "verifica reset",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1952,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $('dados base').first().json.TabelaMemoria }}",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2256,
        -240
      ],
      "id": "02065cd3-96d5-4dc7-bcb2-a963e8c2ebc8",
      "name": "puxa rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "={{ $('dados base').first().json.TabelaMemoria }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2432,
        -240
      ],
      "id": "5bc8e243-430b-422e-bda0-f9517c1c1f80",
      "name": "deleta memoria",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "={{ $('dados base').item.json.TabelaConversas }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2752,
        -240
      ],
      "id": "d9721d6e-2945-4fed-8ad0-930023b42401",
      "name": "deleta conversas",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $('dados base').first().json.TabelaConversas }}",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2592,
        -240
      ],
      "id": "f21339e8-b41b-441d-8ca1-8ea73b3cb724",
      "name": "puxa conversas",
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneCom9 }}"
            }
          ]
        }
      },
      "id": "c3dba6fe-0537-4642-9809-c6f506b61421",
      "name": "testa fone 9",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2752,
        -496
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "id": "f856b146-ea82-4426-b285-fc4db91dc386",
      "name": "testa fone sem 9",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        -496
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae7f607c-80c9-4621-89af-8a85fc7ecbfe",
              "leftValue": "={{ $('whatsapp evo').item.json.body.data.key.participant }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -256
      ],
      "id": "946433c0-768e-4c64-8b69-13d10b303c40",
      "name": "msg grupo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2542e806-1494-48a1-a2c9-e53dab2bf5a5",
              "leftValue": "={{ $('whatsapp evo').first().json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3f88d17-6228-4ea9-8aff-67a853a6c6cc",
      "name": "avalia remetente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        416,
        -256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ea6c347-db99-4caf-8b04-ecd59acb2f4f",
              "name": "Instancia",
              "value": "={{ $('whatsapp evo').first().json.body.instance }}",
              "type": "string"
            },
            {
              "id": "6c01bf0c-8536-4877-bfc9-6e6947de94cf",
              "name": "TabelaConversas",
              "value": "={{ $('whatsapp evo').first().json.body.instance.toLowerCase() }}_sdr_conversas",
              "type": "string"
            },
            {
              "id": "aa7c2b65-ea34-46ff-90a6-2eccf300914e",
              "name": "TabelaLeads",
              "value": "={{ $('whatsapp evo').first().json.body.instance.toLowerCase() }}_sdr_leads",
              "type": "string"
            },
            {
              "id": "7163817b-eba7-4115-bca4-065669454fbf",
              "name": "TabelaMemoria",
              "value": "=memory_{{ $('whatsapp evo').first().json.body.instance.toLowerCase() }}sdr",
              "type": "string"
            },
            {
              "id": "874d16eb-79ef-47bb-9841-1f1923d26476",
              "name": "TabelaTemp",
              "value": "={{ $('whatsapp evo').first().json.body.instance.toLowerCase() }}_sdr_temp",
              "type": "string"
            },
            {
              "id": "7d1d9088-f98e-4cec-85f3-514d3c33796e",
              "name": "LinkSdr",
              "value": "=https://webhook1.lexa-ia.com/webhook/chatbotsdr{{ $('whatsapp evo').first().json.body.instance.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "25324b2c-7c15-4f36-a4d4-47a175f2f996",
              "name": "TabelaRegrasFluxo",
              "value": "={{ $('whatsapp evo').first().json.body.instance.toLowerCase() }}_regras_fluxo",
              "type": "string"
            },
            {
              "id": "8c9a7baf-3627-4057-a2b4-8637c1498f1d",
              "name": "TabelaAgendamentos",
              "value": "={{ $('whatsapp evo').first().json.body.instance.toLowerCase() }}_sdr_agendamentos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -256
      ],
      "id": "1ba5a886-42ee-4cd0-87f4-252efdce5747",
      "name": "dados base"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Analise, entenda e descreva a seguinte imagem:",
        "inputType": "base64",
        "options": {}
      },
      "id": "12b04fbb-fa04-4065-89f2-3b621443f420",
      "name": "analisa imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1712,
        -496
      ],
      "credentials": {
        "openAiApi": {
          "id": "nIAJKQcNsxgZl09A",
          "name": "[KRUGER] OPENAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee445e8c-87a9-412a-b481-d6904f22bb62",
              "name": "data",
              "value": "={{ $json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "167fe1e8-e7c9-447e-8101-0ad414dde067",
      "name": "data img",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "id": "d5551536-0359-45f5-b6ab-15d977d400da",
      "name": "converte de base64 pra binario",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1520,
        -496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "749ee681-105b-4e1b-8212-f949d1e68a88",
              "name": "salvaid",
              "value": "={{ $('whatsapp evo').item.json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c91650bc-8275-4874-a226-1b1f3afe4054",
      "name": "id msg",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1184,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.eduardofischborn.com.br/chat/getBase64FromMediaMessage/{{ $('dados base').item.json.Instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.salvaid }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97491b07-e3e3-4571-a091-07f51245cde4",
      "name": "pega base audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rPARANITH2QYrjl5",
          "name": "[1] EVOLUTION"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "dataa",
        "options": {
          "mimeType": "audio/ogg"
        }
      },
      "id": "3af5ae0c-956e-45f2-90a2-4aea9ad86cb6",
      "name": "converte pra mp3",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1520,
        -256
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "dataa",
        "options": {}
      },
      "id": "e2555814-f1d6-400d-a837-af488df20ed4",
      "name": "transcreve audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1712,
        -256
      ],
      "credentials": {
        "openAiApi": {
          "id": "nIAJKQcNsxgZl09A",
          "name": "[KRUGER] OPENAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "6123ef51-c03f-4371-bee3-aa238aed42cc",
      "name": "move doc binario",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1344,
        -16
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3056,
        -496
      ],
      "id": "ed9b03ed-5aba-48cd-ad93-c12296e26376",
      "name": "merge dados cliente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c7eef48-ce91-44a6-a681-6f6f66ea2602",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3232,
        -496
      ],
      "id": "3775174d-5fda-429b-aa2e-1b48676e0d23",
      "name": "filtra tel lead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98434c11-8efa-43d8-a64f-a4a56bda5f36",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        -496
      ],
      "id": "39bfd632-7fcc-4a7a-a0e8-ccb8bf4bf187",
      "name": "lead existe supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados base').first().json.LinkSdr }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('salva lead').first().json.nome }}"
            },
            {
              "name": "Whatsapp",
              "value": "={{ $('salva lead').first().json.whatsapp }}"
            },
            {
              "name": "=Funil",
              "value": "="
            },
            {
              "name": "Mensagem",
              "value": "={{ $('mensagem').first().json.mensagem }}"
            },
            {
              "name": "Tag"
            },
            {
              "name": "Instancia",
              "value": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "name": "GrupoZap",
              "value": "="
            },
            {
              "name": "missao_prompt",
              "value": "={{ $json.missao_prompt }}"
            },
            {
              "name": "primeira_msg",
              "value": "sim"
            },
            {
              "name": "rotas_disponiveis",
              "value": "={{ $json.rotas_disponiveis }}"
            },
            {
              "name": "ferramentas",
              "value": "={{ $json.ferramentas }}"
            },
            {
              "name": "log",
              "value": "={{ $('salva lead').first().json.log }}"
            },
            {
              "name": "Email",
              "value": "={{ $('salva lead').first().json.email }}"
            },
            {
              "name": "dados",
              "value": "={{ $('salva lead').first().json.dados }}"
            },
            {
              "name": "midia",
              "value": "={{ $('whatsapp evo').first().json.body.data.messageType }}"
            },
            {
              "name": "execution",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0f2f77a0-602c-4edf-bb64-c39d43e5e33c",
      "name": "msg sdr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4256,
        -368
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.eduardofischborn.com.br/chat/getBase64FromMediaMessage/{{ $('dados base').item.json.Instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('whatsapp evo').item.json.body.data.key.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc2d9542-c0b6-4fa3-92b4-0c7427b3e02b",
      "name": "puxa base64 img",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rPARANITH2QYrjl5",
          "name": "[1] EVOLUTION"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tratamento AUDIO\n\n",
        "height": 211,
        "width": 697,
        "color": 6
      },
      "id": "1b15a2e2-3f27-46d9-bea4-7d43aeb30ed2",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        -320
      ]
    },
    {
      "parameters": {
        "content": "## Tratamento DOCUMENTO\n\n",
        "height": 211,
        "width": 717,
        "color": 4
      },
      "id": "19d27e86-e064-4991-8d28-f759caeb6e91",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## ENVIA P/ AGENTE",
        "height": 427,
        "width": 491,
        "color": 5
      },
      "id": "59598fd9-2344-4013-a8e5-e8a4d862a5bb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3920,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3968,
        -576
      ],
      "id": "b4e894bc-055f-4ae6-bdd6-e627fd631143",
      "name": "puxa estado",
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados base').first().json.LinkSdr }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('filtra tel lead').first().json.nome }}"
            },
            {
              "name": "Whatsapp",
              "value": "={{ $('filtra tel lead').first().json.whatsapp }}"
            },
            {
              "name": "=Funil",
              "value": "={{ $('filtra tel lead').first().json.funil }}"
            },
            {
              "name": "Mensagem",
              "value": "={{ $('mensagem').first().json.mensagem }}"
            },
            {
              "name": "Tag",
              "value": "={{ $('filtra tel lead').first().json.tag }}"
            },
            {
              "name": "Instancia",
              "value": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "name": "GrupoZap",
              "value": "="
            },
            {
              "name": "estado_atual",
              "value": "={{ $('filtra tel lead').first().json.estado_atual }}"
            },
            {
              "name": "missao_prompt",
              "value": "={{ $json.missao_prompt }}"
            },
            {
              "name": "rotas_disponiveis",
              "value": "={{ $json.rotas_disponiveis }}"
            },
            {
              "name": "ferramentas",
              "value": "={{ $json.ferramentas }}"
            },
            {
              "name": "log",
              "value": "={{ $('merge dados cliente').first().json.log }}"
            },
            {
              "name": "=Email",
              "value": "={{ $('filtra tel lead').first().json.Email }}"
            },
            {
              "name": "dados",
              "value": "={{ $('filtra tel lead').first().json.dados }}"
            },
            {
              "name": "midia",
              "value": "={{ $('whatsapp evo').first().json.body.data.messageType }}"
            },
            {
              "name": "execution",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb963948-28f9-4bc9-9bd2-4a637723be2d",
      "name": "msg sdr lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4256,
        -576
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "={{ $('dados base').first().json.TabelaRegrasFluxo }}",
        "filters": {
          "conditions": [
            {
              "keyName": "nome_estado",
              "keyValue": "={{ $json.estado_atual }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4112,
        -576
      ],
      "id": "64656cc6-c148-421c-a346-49b6439e9774",
      "name": "puxa prompt",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2096,
        -240
      ],
      "id": "9c978fa0-cff4-4d9a-8eb4-def01bdba2d2",
      "name": "apaga lead",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            },
            {
              "fieldId": "estado_atual",
              "fieldValue": "INICIO"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ $('data hora').first().json.data_envio_mensagem }}"
            },
            {
              "fieldId": "horario",
              "fieldValue": "={{ $('data hora').first().json.horario_envio_mensagem }}"
            },
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "fieldId": "foto",
              "fieldValue": "={{ $('puxa foto').first().json.picture }}"
            },
            {
              "fieldId": "fluxo_followup",
              "fieldValue": "INICIO"
            },
            {
              "fieldId": "status",
              "fieldValue": "on"
            },
            {
              "fieldId": "crm",
              "fieldValue": "INICIO"
            }
          ]
        }
      },
      "id": "4576f4bf-e594-4c9d-acc4-7110535c8c39",
      "name": "salva lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3968,
        -368
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obter os dados de entrada (assumindo que estão no campo 'datetime')\nlet inputString = $now.toString(); // Garantir que é uma string\n\n// Função para retornar os 10 primeiros caracteres (data)\nfunction FirstTen(input) {\n    return input.substring(0, 10);\n}\n\n// Função para formatar a data no formato DIA/MÊS/ANO\nfunction FormatDateToDMY(input) {\n    const [year, month, day] = input.split('-');\n    return `${day}/${month}/${year}`;\n}\n\n// Função para retornar os caracteres de 11 a 19 (hora)\nfunction ElevenToNineteen(input) {\n    return input.substring(11, 19);\n}\n\n// Função para gerar timestamp ISO (até os segundos)\nfunction GetTimestampISO(input) {\n    return input.substring(0, 19);\n}\n\n// Manter os 19 primeiros caracteres\nconst HorarioEnvioMensagem = ElevenToNineteen(inputString);\nconst DataEnvioMensagem = FormatDateToDMY(FirstTen(inputString));\nconst TimestampISO = GetTimestampISO(inputString);\n\n// Retornar os resultados\nreturn {\n    json: {\n        horario_envio_mensagem: HorarioEnvioMensagem,\n        data_envio_mensagem: DataEnvioMensagem,\n        timestamp_iso: TimestampISO\n    }\n};\n"
      },
      "id": "dcd0448c-c96f-456d-8e76-83b6257afcb7",
      "name": "data hora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.eduardofischborn.com.br/chat/fetchProfile/{{ $('dados base').first().json.Instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=55{{ $json.TelefoneSem9 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb1089f6-1a93-4be6-b0d4-0b0b779bb4cb",
      "name": "puxa foto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        -496
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rPARANITH2QYrjl5",
          "name": "[1] EVOLUTION"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "852cedd8-05a0-4fcf-a082-6a3b2dbe6754",
              "leftValue": "={{ $json.status }}",
              "rightValue": "off",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3424,
        -496
      ],
      "id": "72f72dfd-07df-4dba-917c-7cf5d09aedc8",
      "name": "bloqueio"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "={{ $('dados base').first().json.TabelaRegrasFluxo }}",
        "filters": {
          "conditions": [
            {
              "keyName": "nome_estado",
              "keyValue": "=INICIO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4112,
        -368
      ],
      "id": "09a30812-dd77-49a3-b64e-77644e75240c",
      "name": "puxa prompt inicio",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $('dados base').first().json.TabelaTemp}}",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2896,
        -240
      ],
      "id": "9ea56ab4-5c4f-4589-bccc-8c73547bef01",
      "name": "puxa temp",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "={{ $('dados base').item.json.TabelaTemp}}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3056,
        -240
      ],
      "id": "15081ed0-f6eb-4023-8549-9faa2d438c43",
      "name": "apaga temp",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.eduardofischborn.com.br/chat/getBase64FromMediaMessage/{{ $('dados base').first().json.Instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('whatsapp evo').first().json.body.data.key.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fec110a0-cc75-4fe7-ae31-05f9880d8dcf",
      "name": "puxa base doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rPARANITH2QYrjl5",
          "name": "[1] EVOLUTION"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "assistants"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        -16
      ],
      "id": "d503c380-b2d6-48cd-9e54-6d4f0326ebfd",
      "name": "upload doc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4.1-mini\",\n  \"input\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"Extraia todo o conteúdo do documento anexado.\"\n        },\n        {\n          \"type\": \"input_file\",\n          \"file_id\": \"{{ $json.id }}\"\n        }\n      ]\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -16
      ],
      "id": "0eb119ce-f1ef-432f-af4e-08ed66e42d30",
      "name": "analisa doc",
      "retryOnFail": true,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "={{ $('dados base').first().json.TabelaAgendamentos}}",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3216,
        -240
      ],
      "id": "e4e2e513-3899-4756-8bc4-fd8ca5f74073",
      "name": "apaga agendamentos",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "online",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -16,
        -256
      ],
      "id": "7412b72a-0161-44cd-94df-b2a08d169ce0",
      "name": "r whatsapp evo"
    },
    {
      "parameters": {
        "tableId": "eventos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "fieldId": "fluxo",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ $('data hora').first().json.data_envio_mensagem }}"
            },
            {
              "fieldId": "horario",
              "fieldValue": "={{ $('data hora').first().json.horario_envio_mensagem }}"
            },
            {
              "fieldId": "iso",
              "fieldValue": "={{ $('data hora').first().json.timestamp_iso }}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "=whatsapp{{ $('formata telefone').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4480,
        -464
      ],
      "id": "903783c5-5df7-4311-89da-3a10deae51ba",
      "name": "evento completo",
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "whatsapp",
              "value": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            },
            {
              "key": "instancia",
              "value": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "key": "mensagem",
              "value": "={{ $('mensagem').first().json.mensagem }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        4640,
        -464
      ],
      "id": "d071356c-b1cd-4cbb-aa32-4b112bc2b148",
      "name": "execucao"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('whatsapp evo').first().json.body.data.message.conversation }}",
                    "rightValue": "📴",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4c3ed2f2-d474-4aaf-84a0-80571b017dd9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Desliga IA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd8b23f6-ffb2-4448-94f5-090b886e42d8",
                    "leftValue": "={{ $('whatsapp evo').first().json.body.data.message.conversation }}",
                    "rightValue": "⚖️",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Liga IA"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2144,
        80
      ],
      "id": "ee918b62-d389-4e8f-ac53-deefbacf9419",
      "name": "on/off atendimento humano"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Pega o JID original e remove todos os caracteres não numéricos\n  let jidOriginalNumerico = $('whatsapp evo').item.json.body.data.key.remoteJid.replace(/\\D/g, '');\n\n  // --- NOVO OUTPUT ---\n  // Cria o terceiro output removendo os 2 primeiros dígitos do JID numérico\n  const remoteJidFormatado = jidOriginalNumerico.slice(2);\n  \n  // --- LÓGICA EXISTENTE (INALTERADA) ---\n  let phoneNumber = jidOriginalNumerico;\n\n  if (phoneNumber.startsWith('5555')) {\n    phoneNumber = phoneNumber.slice(2);\n  } else if (phoneNumber.startsWith('55')) {\n    phoneNumber = phoneNumber.slice(2);\n  }\n\n  const processedPhoneNumber = phoneNumber;\n  \n  let TelefoneCom9 = null;\n  let TelefoneSem9 = null;\n\n  if (processedPhoneNumber.length === 10) {\n    TelefoneCom9 = processedPhoneNumber.slice(0, 2) + '9' + processedPhoneNumber.slice(2);\n    TelefoneSem9 = processedPhoneNumber;\n  } else if (processedPhoneNumber.length === 11) {\n    if (processedPhoneNumber.charAt(2) === '9') {\n      TelefoneCom9 = processedPhoneNumber;\n      TelefoneSem9 = processedPhoneNumber.slice(0, 2) + processedPhoneNumber.slice(3);\n    } else {\n      // fallback para caso improvável\n      TelefoneCom9 = processedPhoneNumber.slice(0, 2) + '9' + processedPhoneNumber.slice(2);\n      TelefoneSem9 = processedPhoneNumber;\n    }\n  }\n\n  // Retorna os outputs existentes mais o novo campo \"remoteJidFormatado\"\n  return {\n    json: {\n      TelefoneCom9,\n      TelefoneSem9,\n      remoteJidFormatado \n    }\n  };\n}"
      },
      "id": "3eb5636c-03a4-41b1-b611-8754a622aef9",
      "name": "formata telefone1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        96
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone1').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        16
      ],
      "id": "f0cac8af-9636-4b7f-821d-363ef9ffaa41",
      "name": "puxa rows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98434c11-8efa-43d8-a64f-a4a56bda5f36",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        16
      ],
      "id": "6dc369cd-4f32-4fe6-abbe-4e647b548a8c",
      "name": "lead existe supabase1"
    },
    {
      "parameters": {
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('formata telefone1').first().json.TelefoneSem9 }}"
            },
            {
              "fieldId": "estado_atual",
              "fieldValue": "INICIO"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ $('data hora').first().json.data_envio_mensagem }}"
            },
            {
              "fieldId": "horario",
              "fieldValue": "={{ $('data hora').first().json.horario_envio_mensagem }}"
            },
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "fieldId": "fluxo_followup",
              "fieldValue": "INICIO"
            },
            {
              "fieldId": "status",
              "fieldValue": "off"
            },
            {
              "fieldId": "crm",
              "fieldValue": "INICIO"
            }
          ]
        }
      },
      "id": "c390c917-6f2d-4af4-83ed-fa5fd6f0b4ff",
      "name": "salva lead off",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        16
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone1').first().json.TelefoneSem9 }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "off"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2656,
        16
      ],
      "id": "b39197c2-84c6-4a0f-9877-ba000d00b7a8",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Liga atendimento humano com emoji",
        "height": 400,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        -48
      ],
      "typeVersion": 1,
      "id": "80282ab8-93dc-4ce5-9b09-71780b06be56",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone1').first().json.TelefoneSem9 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        192
      ],
      "id": "2324b1c0-b5d4-4324-b031-e5a8f2cf7b38",
      "name": "puxa rows2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98434c11-8efa-43d8-a64f-a4a56bda5f36",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        192
      ],
      "id": "7588e56c-1ff1-4ce3-81ff-0c25dc43c283",
      "name": "lead existe supabase2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('formata telefone1').first().json.TelefoneSem9 }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "on"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2656,
        192
      ],
      "id": "ff333ec6-881c-4f12-b402-4ee74e50be1b",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "tableId": "mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            },
            {
              "fieldId": "autor",
              "fieldValue": "={{ $('formata telefone').first().json.TelefoneSem9 }}"
            },
            {
              "fieldId": "destino",
              "fieldValue": "=IA"
            },
            {
              "fieldId": "conteudo",
              "fieldValue": "={{ \n  (m => m.replace(/^(?:\\r?\\n){2}/, ''))(\n    String($('mensagem').first().json.mensagem ?? '')\n  ) \n}}"
            },
            {
              "fieldId": "criado_em",
              "fieldValue": "={{ $('data hora').first().json.timestamp_iso }}"
            },
            {
              "fieldId": "hora_mensagem",
              "fieldValue": "={{ $('data hora').first().json.horario_envio_mensagem }}"
            }
          ]
        }
      },
      "id": "eb5a9d36-b924-4789-9d03-6e00f86661b1",
      "name": "salva msg cliente bubble",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2416,
        -496
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.agenteluna.com/api/1.1/obj/Mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 709e60797d1f439e883dca96eeb0299a"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cliente",
              "value": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "name": "autor",
              "value": "={{ $('salva msg cliente bubble').first().json.autor }}"
            },
            {
              "name": "conteudo",
              "value": "={{ $('salva msg cliente bubble').first().json.conteudo }}"
            },
            {
              "name": "destino",
              "value": "={{ $('salva msg cliente bubble').first().json.destino }}"
            },
            {
              "name": "hora_mensagem",
              "value": "={{ $('salva msg cliente bubble').first().json.hora_mensagem }}"
            },
            {
              "name": "raciocinio_ia",
              "value": "={{ $('salva msg cliente bubble').first().json.raciocinio_ia }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('salva msg cliente bubble').first().json.whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -496
      ],
      "id": "ccc31ed2-1b93-45aa-8ccc-8bcc3a4d60c7",
      "name": "cria msg bubble cliente",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Cuidar tag vermelha\n## É Personalização de cliente",
        "height": 128,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        288
      ],
      "typeVersion": 1,
      "id": "85ead9f7-6483-4227-a680-61b21c99675c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Tratamento de dados",
        "height": 272,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -352
      ],
      "typeVersion": 1,
      "id": "59a97233-8277-4a93-a697-06b9760f8f39",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4448,
        -480
      ],
      "typeVersion": 1,
      "id": "331185de-9f8f-4f0d-a807-0bdec61636cb",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.agenteluna.com/api/1.1/obj/Conversas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 709e60797d1f439e883dca96eeb0299a"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cliente",
              "value": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "name": "name",
              "value": "={{ $('puxa foto').first().json.name }}"
            },
            {
              "name": "ultima_mensagem",
              "value": "={{ $('salva msg cliente bubble').first().json.conteudo }}"
            },
            {
              "name": "picture",
              "value": "={{ $('puxa foto').first().json.picture }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('salva msg cliente bubble').first().json.whatsapp }}"
            },
            {
              "name": "criado_em",
              "value": "={{ $('data hora').first().json.timestamp_iso }}-03:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        -368
      ],
      "id": "eaf6cf9d-208c-4ac2-9fe1-e6489598b767",
      "name": "cria conversa bubble",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://app.agenteluna.com/api/1.1/obj/Conversas/{{ $('filtra tel lead').first().json.tag }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 709e60797d1f439e883dca96eeb0299a"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ultima_mensagem",
              "value": "={{ $('salva msg cliente bubble').first().json.conteudo }}"
            },
            {
              "name": "criado_em",
              "value": "={{ $('data hora').first().json.timestamp_iso }}-03:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        -576
      ],
      "id": "e3608fc7-ef97-4cac-af5f-f2c14d1e37c8",
      "name": "update conversa bubble",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Personalizado",
        "height": 208,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -304
      ],
      "typeVersion": 1,
      "id": "d457f4db-fa43-4efe-9dde-794f8b9ef2df",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Versão 1.0.4",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4560,
        336
      ],
      "typeVersion": 1,
      "id": "2fb4a6ef-8e2b-40ba-883c-eb64673dc474",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Ver Emojis que cliente quer",
        "height": 272,
        "width": 182,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        16
      ],
      "typeVersion": 1,
      "id": "e98098cf-6d8c-4f57-98f8-e933b2a87cb2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "tableId": "={{ $('dados base').first().json.TabelaLeads }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('formata telefone1').first().json.TelefoneSem9 }}"
            },
            {
              "fieldId": "estado_atual",
              "fieldValue": "INICIO"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ $('data hora').first().json.data_envio_mensagem }}"
            },
            {
              "fieldId": "horario",
              "fieldValue": "={{ $('data hora').first().json.horario_envio_mensagem }}"
            },
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $('dados base').first().json.Instancia }}"
            },
            {
              "fieldId": "fluxo_followup",
              "fieldValue": "INICIO"
            },
            {
              "fieldId": "status",
              "fieldValue": "on"
            },
            {
              "fieldId": "crm",
              "fieldValue": "INICIO"
            }
          ]
        }
      },
      "id": "73355808-e40a-4a8f-9141-9b8399f70c71",
      "name": "salva lead on",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        192
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "ICRwXhZLBgxPMEhm",
          "name": "[1] SUPABASE"
        }
      }
    }
  ],
  "pinData": {
    "whatsapp evo": [
      {
        "json": {
          "headers": {
            "host": "webhook1.lexa-ia.com",
            "user-agent": "axios/1.10.0",
            "content-length": "723",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "2.58.80.112",
            "x-forwarded-host": "webhook1.lexa-ia.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a7008ed3b33b",
            "x-real-ip": "2.58.80.112"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "KRUGER",
            "data": {
              "key": {
                "remoteJid": "554188037508@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB062FFA10332FA1A6EF85A727124D8062FAE7A",
                "senderLid": "230017158111263@lid"
              },
              "pushName": "Lexa",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Mensagem de teste para verificar status da IA."
              },
              "contextInfo": null,
              "messageType": "conversation",
              "messageTimestamp": 1758268926,
              "instanceId": "a085fae7-df0f-4b96-86dc-6a5da5822074",
              "source": "unknown"
            },
            "destination": "https://webhook1.lexa-ia.com/webhook/whatsappkruger",
            "date_time": "2025-09-19T05:02:08.072Z",
            "sender": "555181385297@s.whatsapp.net",
            "server_url": "https://evolutionapi.eduardofischborn.com.br",
            "apikey": "BBDF4F282FB8-4690-9AC3-F6E96D1653E4"
          },
          "webhookUrl": "https://webhook1.lexa-ia.com/webhook/whatsappkruger",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "mensagem": {
      "main": [
        [
          {
            "node": "formata telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata telefone": {
      "main": [
        [
          {
            "node": "puxa foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtra tipo mensagem": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "puxa base64 img",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "id msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "puxa base doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp evo": {
      "main": [
        [
          {
            "node": "r whatsapp evo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica reset": {
      "main": [
        [
          {
            "node": "apaga lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "testa fone 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa rows": {
      "main": [
        [
          {
            "node": "deleta memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta memoria": {
      "main": [
        [
          {
            "node": "puxa conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta conversas": {
      "main": [
        [
          {
            "node": "puxa temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa conversas": {
      "main": [
        [
          {
            "node": "deleta conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "testa fone 9": {
      "main": [
        [
          {
            "node": "testa fone sem 9",
            "type": "main",
            "index": 0
          },
          {
            "node": "merge dados cliente",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "testa fone sem 9": {
      "main": [
        [
          {
            "node": "merge dados cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg grupo": {
      "main": [
        [],
        [
          {
            "node": "filtra tipo mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avalia remetente": {
      "main": [
        [
          {
            "node": "msg grupo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados base": {
      "main": [
        [
          {
            "node": "avalia remetente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisa imagem": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data img": {
      "main": [
        [
          {
            "node": "converte de base64 pra binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converte de base64 pra binario": {
      "main": [
        [
          {
            "node": "analisa imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id msg": {
      "main": [
        [
          {
            "node": "pega base audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega base audio": {
      "main": [
        [
          {
            "node": "converte pra mp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converte pra mp3": {
      "main": [
        [
          {
            "node": "transcreve audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreve audio": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move doc binario": {
      "main": [
        [
          {
            "node": "upload doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge dados cliente": {
      "main": [
        [
          {
            "node": "filtra tel lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtra tel lead": {
      "main": [
        [
          {
            "node": "bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead existe supabase": {
      "main": [
        [
          {
            "node": "update conversa bubble",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria conversa bubble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg sdr": {
      "main": [
        [
          {
            "node": "evento completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa base64 img": {
      "main": [
        [
          {
            "node": "data img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa estado": {
      "main": [
        [
          {
            "node": "puxa prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg sdr lead": {
      "main": [
        [
          {
            "node": "evento completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa prompt": {
      "main": [
        [
          {
            "node": "msg sdr lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apaga lead": {
      "main": [
        [
          {
            "node": "puxa rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salva lead": {
      "main": [
        [
          {
            "node": "puxa prompt inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data hora": {
      "main": [
        [
          {
            "node": "dados base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa foto": {
      "main": [
        [
          {
            "node": "salva msg cliente bubble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bloqueio": {
      "main": [
        [],
        [
          {
            "node": "lead existe supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa prompt inicio": {
      "main": [
        [
          {
            "node": "msg sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa temp": {
      "main": [
        [
          {
            "node": "apaga temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apaga temp": {
      "main": [
        [
          {
            "node": "apaga agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa base doc": {
      "main": [
        [
          {
            "node": "move doc binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload doc": {
      "main": [
        [
          {
            "node": "analisa doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisa doc": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "r whatsapp evo": {
      "main": [
        [
          {
            "node": "data hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento completo": {
      "main": [
        [
          {
            "node": "execucao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "on/off atendimento humano": {
      "main": [
        [
          {
            "node": "puxa rows1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "puxa rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata telefone1": {
      "main": [
        [
          {
            "node": "on/off atendimento humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa rows1": {
      "main": [
        [
          {
            "node": "lead existe supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead existe supabase1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "salva lead off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa rows2": {
      "main": [
        [
          {
            "node": "lead existe supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead existe supabase2": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "salva lead on",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salva msg cliente bubble": {
      "main": [
        [
          {
            "node": "cria msg bubble cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria msg bubble cliente": {
      "main": [
        [
          {
            "node": "verifica reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria conversa bubble": {
      "main": [
        [
          {
            "node": "salva lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update conversa bubble": {
      "main": [
        [
          {
            "node": "puxa estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "8HGeEkJdRI01UGR2"
  },
  "versionId": "07e144a3-0ce1-462c-b04c-b0bb63dc2361",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3cf5738819e614e277c0d56c04b8adf7599f9d1cf7b2c414abde335eedf59ed"
  },
  "id": "nKsO7lS0QyBsDuRs",
  "tags": []
}